# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

#Java Specific Ignores
*.class

#Ignore metadata
.metadata/
 
#netbeans ignore personal stuff
nbproject/private/
 

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out